.img-logo{
    width:400px;
    margin-bottom : 30px;
}
@media (max-width: 1300px) {
    .img-logo {
        width: 95%; } }

@media (max-width: 900px) {
    .img-logo {
        width: 95%; } }

@media (max-width: 500px) {
    .img-logo {
      width: 95%; } }
      





