<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div class="row col-lg-12 mx-auto" *ngIf="estado">      
    <div class="col-lg-12 col-md-12 col-12 table-responsive p-0 ml-lg-4 ml-0 card">
        <div class="card-header mr-0">
            <h4 style="color: #EA320B;display: inline-block;" class="mt-2">Detalle Compra : N° {{eCompra.num_ord_cab}}</h4>          
            
        </div>
        <div class="card-body">
            <table class="table table-hover table-bodered" width="100%" cellspacing="0" id="tablaCarrito">
                <thead class="thead-dark">
                    <tr>
                        <th style="font-weight: bold;">N°</th>
                        <th style="font-weight: bold;">Imagen</th>
                        <th style="font-weight: bold;">Nombre</th>
                        <th style="font-weight: bold;">Cantidad</th>
                        <th style="font-weight: bold;">Precio</th>
                        <th style="font-weight: bold;">Monto</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of listaDetalle;let i = index">
                        <td style="font-weight: bold;">{{i+1}}</td>
                        <td><img style="border-radius: 0px;height: 50px;width: 50px;" src="{{prod.nom_imagen}}" alt=""></td>
                        <td>{{prod.nom_prod}}</td>
                        <td>{{prod.cant_ord_det}}</td>
                        <td>{{prod.unit_price_ord_det}}</td>
                        <td>{{(prod.unit_price_ord_det * prod.cant_ord_det) | number:'0.1-5'}}</td>                        
                    </tr>                    
                </tbody>                
            </table> 
            <div class="float-right">
                <p style="display: inline-block;">TOTAL :</p> 
                <input type="text" disabled style="color: black;display: inline-block;" class="form-control" value="{{total | number:'0.1-5'}}">
            </div>
        </div>
    </div>
</div>








