<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div class="col-lg-12 mx-auto" *ngIf="estado">    
    <div class="card">
        <div class="card-header">
            <i class="fas fa-times fa-lg float-right my-auto py-auto" 
            style="color: #EA320B;display: inline-block;cursor: pointer;" (click)="volver()"></i>
            <h4 style="color: #EA320B;">Actualizar Proveedor</h4>
        </div>        
        <div class="card-body">
            <form [formGroup]="nuevoProv" class='row container' (ngSubmit)="actualizar()">                
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Razon Proveedor</label>
                        <input type="text" [class.is-invalid]="razonNoValido" class="form-control" placeholder="Razon" formControlName='razon_prov' >
                        <small *ngIf="razonNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <label for="">Contacto Proveedor</label>
                        <input (keypress)="soloLetras($event)" class="form-control" [class.is-invalid]="contactoNoValido" placeholder="Contacto" formControlName='contact_prov'>
                        <small *ngIf="contactoNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <label for="">Correo Proveedor</label>
                        <input type="text" [class.is-invalid]="correoNoValido" step="any" class="form-control" placeholder="Correo" formControlName='correo'>
                        <small *ngIf="correoNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>  
                    <div class="form-group">
                        <label for="">Direccion Proveedor</label>
                        <input type="text" [class.is-invalid]="direccionNoValido" step="any" class="form-control" placeholder="Direccion" formControlName='direc_prov'>
                        <small *ngIf="direccionNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div> 
                    <div class="form-group">
                        <label for="">Pais Proveedor</label>
                        <select class='custom-select' [class.is-invalid]="paisNoValido" formControlName='pais_prov'>                        
                           <option value="{{pais}}" *ngFor="let pais of paises">{{pais}}</option>
                        </select>
                        <small *ngIf="paisNoValido" class="text-danger">
                            Campo invalido
                        </small>
                    </div>                                                           
                </div> 
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Tipo Documento</label>
                        <select class='custom-select' [class.is-invalid]="idTipNoValido" (change)="cambiar()" formControlName='tip_id'>                        
                            <option *ngFor='let c of listaTiposDocIdent' value="{{c.id_tip}}">{{c.descrip_tip}}</option>
                        </select>
                        <small *ngIf="idTipNoValido" class="text-danger">
                            Campo invalido
                        </small>
                    </div> 
                    <div class="form-group" *ngIf="rod">
                        <label for="">N° Documento</label>
                        <input class="form-control" type="text" (keypress)="soloNumeros($event)" [class.is-invalid]="numDniUserNoValido" placeholder="Numero documento dni" formControlName='num_doc_dni'>
                        <small *ngIf="numDniUserNoValido" class="text-danger">
                            Campo invalido
                        </small>
                    </div>    
                    <div class="form-group" *ngIf="!rod">
                        <label for="">N° Documento</label>
                        <input class="form-control" type="text" (keypress)="soloNumeros($event)" [class.is-invalid]="numRucUserNoValido" placeholder="Numero documento ruc" formControlName='num_doc_ruc'>
                        <small *ngIf="numRucUserNoValido" class="text-danger">
                            Campo invalido
                        </small>
                    </div>                                  
                    <div class="form-group">
                        <label for="">Telefono Proveedor</label>
                        <input class="form-control" (keypress)="soloNumeros($event)" type="text" [class.is-invalid]="telefonoNoValido" placeholder="Telefono" formControlName='telefono_prov'>
                        <small *ngIf="telefonoNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <label for="">Celular Proveedor</label>
                        <input class="form-control" (keypress)="soloNumeros($event)" type="text" [class.is-invalid]="celularNoValido" placeholder="Celular" formControlName='celular_prov'>
                        <small *ngIf="celularNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>                                          
                </div>
                <button class="btn boton-rojo btn-block">
                    Aceptar
                </button>                                              
            </form>            
        </div>
    </div>
</div>


