<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
  <div class="fa-4x" >
      <i class="fas fa-spinner fa-spin"></i>    
  </div>
</div>
  <!--Main layout-->
  <main *ngIf="estado">
    <div class="">   
      <div class="alert fade show d-flex justify-content-center align-items-center" role="alert" *ngIf="compraService.agregado"
      style="width: 100%;height: 40px;margin-top: 0px;text-align: center;background: #5cb85c;">
        <strong>Producto agregado!</strong>     
      </div>   
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg  mt-3 mb-5" style="background: #EA320B;">

        <!-- Navbar brand -->
        <span class="navbar-brand" style="color: #ffffff;">Categorias:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" (click)="show=!show">
          <i class="fas fa-bars" style="color: #ffffff;"></i>
        </button>
        

        <!-- Collapsible content -->
        
        <div class="collapse navbar-collapse" id="basicExampleNav" [ngClass]="{'show' : show}">

          <!-- Links -->
          <ul class="navbar-nav mr-auto" style="color: #ffffff;">
            <li class="nav-item as">
              <a class="nav-link" (click)="listarProductos()" [ngClass]="{'seleccionado': seleccionado === 0}">Todos
              </a>
            </li> 
            <li class="nav-item as" [ngClass]="{'seleccionado': seleccionado === c.id_cat}" *ngFor="let c of listaCategoria;let i = index;">
              <a class="nav-link" *ngIf="i<7" (click)="filtrarXcat(c.id_cat)">{{c.nom_cat}}           
              </a>
            </li>  
            <li class="nav-item nav-profile dropdown" ngbDropdown >
              <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>                  
                otros
              </a>
              <ul class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown" style="background: #EA320B;">
                <li [ngClass]="{'seleccionado': seleccionado === c.id_cat}" class="sd" *ngFor="let c of listaCategoria;let i =index">
                  <a class="dropdown-item" *ngIf="i>=7" (click)="filtrarXcat(c.id_cat)">
                    {{c.nom_cat}} 
                  </a>
                </li>                
              </ul>              
            </li>
          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" [(ngModel)]="texto" [ngModelOptions]="{standalone: true}" (keyup)="buscar()" type="text" placeholder="Buscar.." aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" 
          *ngFor="let u of listaFiltroTexto | paginate: {itemsPerPage : 12, currentPage : pageActual}">
            <!--Card-->
            <div class="card " >

              <!--Card image-->
              <div class="view overlay py-3 px-auto">
                <div>
                  <img style="height: 200px;width: 200px;" src="http://192.168.1.13:1151/api/producto/verArchivo/{{u.nom_producto}}" 
                  class="card-img-top mx-auto"
                  alt="">
                </div>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center pt-0 pb-3">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{u.nom_cat}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">{{u.nom_prod}}
                      <!--<span class="badge badge-pill danger-color">NEW</span>-->
                    </a>
                  </strong>
                </h5> 
                <a href="" class="grey-text">
                  <h5>Stock :{{u.stock_prod}}</h5>
                </a>   
                <button type="button" class="btn btn-outline-primary btn-block px-3" data-bs-toggle="modal" 
                    data-bs-target="#cantPrecio" (click)="agregar(u)" data-bs-whatever="@getbootstrap">
                        Añadir</button>                            

              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
          <!--Grid column-->       
        </div>
        <!--Grid row-->
        <pagination-controls class="custom-pagination" previousLabel="Anterior" nextLabel="Siguiente"  responsive="true" (pageChange)="pageActual = $event"></pagination-controls>
      </section>
      <!--Section: Products v.3-->
      
    </div>
  </main>
  <!-- data-bs-backdrop="static" data-bs-keyboard="false" -->
  <div class="modal fade" id="cantPrecio" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="aProducto" style="color: red;">{{aProducto.nom_prod | uppercase}}</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Precio:</label>
              <input type="text" (keypress)="soloNumeros($event)" [(ngModel)]="precio" [ngModelOptions]="{standalone: true}" class="form-control" >
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Cantidad:</label>
              <input type="text" (keypress)="soloNumeros($event)" [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="anadir()">Añadir</button>
        </div>
      </div>
    </div>
  </div> 
  
