<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-light table-bordered table-striped" width="100%" cellspacing="0" id="tablaVentas">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Fecha Venta</th>
                <th>Fecha Entrega</th>
                <th>Cliente</th>
                <th>N° transaccion</th>
                <th>Comprobante</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of lista">
                <td>{{venta.id_vent_cab}}</td>
                <td>{{venta.fecha_vent_cab}}</td>
                <td>{{venta.fecha_entr_cab}}</td>
                <td>{{venta.nom_cli}}</td>
                <td>{{venta.num_trans_cab}}</td>
                <td class="pl-0">
                    <a *ngIf="venta.fecha_entr_cab!=null" target="_blank"
                    href="http://localhost:8084/Trinket-Reporte/ventaController?accion=comprobante&codigoVenta={{venta.id_vent_cab}}"
                    class="ml-4 btn btn-sm btn-outline-dark" >Generar</a>
                    <button *ngIf="venta.fecha_entr_cab===null" class="ml-4 btn btn-sm btn-outline-dark" disabled>Generar</button>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
