<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div *ngIf="estado">
    <h1><b>LISTA VENTAS</b></h1>
    <div class="row col-12 p-0">
        <div class="col-lg-4">
            <input style="display:inline-block" type="date" [max]="actualString"
         style="height: 50px;" [(ngModel)]="fecha" (change)="filtraFecha()" class="form-control mb-3">  
        </div> 
        <div class="col-lg-3 col-md-3 col-12 col-sm-6 mb-3">
            <button style="display:inline-block" (click)="listarVentas()" class="btn btn-outline-success btn-block">Listar Todo</button>   
        </div>  
    </div>
    <div class="card">
        <div class="card-header py-3">
            <i class="fas fa-table"></i>
            Lista Ventas
        </div>        
        <div class="card-body">
            <div class="table-responsive" >                
                <table class="table table-hover  table-bordered" width="100%" cellspacing="0" id="tablaVentas">
                    <thead >
                        <tr>
                            <th style="font-weight: bold;">ID</th>
                            <th style="font-weight: bold;">Fecha Venta</th>
                            <th style="font-weight: bold;">Fecha Entrega</th>
                            <th style="font-weight: bold;">Cliente</th>
                            <th style="font-weight: bold;">N° transaccion</th>
                            <th style="font-weight: bold;">Comprobante</th>                
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of listaFiltro">
                            <td style="font-weight: bold;">{{venta.id_vent_cab}}</td>
                            <td>{{venta.fecha_vent_cab | date : 'dd/MM/yyyy'}} {{venta.fecha_vent_cab | date : 'HH:mm:ss'}}</td>
                            <td>{{venta.fecha_entr_cab}}</td>
                            <td>{{venta.nom_cli}}</td>
                            <td>{{venta.num_trans_cab}}</td>
                            <td class="pl-0">
                                <a *ngIf="venta.fecha_entr_cab!=null && venta.descrip_pag === 'FACTURA'" target="_blank"
                                href="http://192.168.1.13:8084/Trinket-Reporte/comprobanteController?accion=factura&codigoVenta={{venta.id_vent_cab}}"
                                class="ml-4 btn btn-sm btn-outline-dark" >Generar</a>
                                <a *ngIf="venta.fecha_entr_cab!=null && venta.descrip_pag === 'BOLETA'" target="_blank"
                                href="http://192.168.1.13:8084/Trinket-Reporte/comprobanteController?accion=boleta&codigoVenta={{venta.id_vent_cab}}"
                                class="ml-4 btn btn-sm btn-outline-dark" >Generar</a>
                                <button *ngIf="venta.fecha_entr_cab===null" class="ml-4 btn btn-sm btn-outline-dark" disabled>Generar</button>
                            </td>                
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
