<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div class="row col-xl-4 mx-0" style="display: inline-block;" *ngIf="estado" >    
    <div class="card col-lg-12 p-0 mb-4">
        <div class="card-header">
            <i class="fas fa-times fa-lg float-right my-auto py-auto" 
            style="color: #EA320B;display: inline-block;cursor: pointer;" (click)="volver()"></i>
            <h4 style="color: #EA320B;">Agregar Compra</h4>
        </div>        
        <div class="card-body">
            <div class="form-group">
                <label for="">Fecha</label>
                <input type="text" disabled style="color: black;"  class="form-control" value="{{fechaActual | date : 'dd/MM/yyyy'}}" >                
            </div>
            <form [formGroup]="nuevaCompra" class='' (ngSubmit)="agregar()">                   
                <div class="form-group">
                    <label for="">Condicion de Envio</label>
                    <input type="text" [class.is-invalid]="condicionInvalida" class="form-control" placeholder="Condicion de envio" formControlName='cond_env' >
                    <small *ngIf="condicionInvalida" class="text-danger">
                        Campo invalido
                    </small>
                </div>
                <div class="form-group">
                    <label for="">Proveedor</label>
                    <select [class.is-invalid]="proveedorInvalido" class="custom-select" formControlName='prov_id'>                        
                        <option value="{{p.id_prov}}" *ngFor="let p of proveedores">{{p.razon_prov}}</option>
                    </select>
                    <small *ngIf="proveedorInvalido" class="text-danger">
                        Campo invalido
                    </small>
                </div>                    
                <button class="btn boton-rojo btn-block mx-0">
                    Aceptar
                </button>                                              
            </form>            
        </div>
    </div>       
</div>
<div class="row col-xl-8 mx-0" *ngIf="estado" style="display: inline-block;">
    <div class="col-lg-12 table-responsive p-0 ml-0  card">
        <div class="card-header">
            <h4 style="color: #EA320B;">Detalle Compra</h4>
        </div>
        <div class="card-body">
            <table class="table table-bodered " width="100%" cellspacing="0" id="tablaCarrito">
                <thead class="thead-dark">
                    <tr>
                        <th style="font-weight: bold;">N°</th>
                        <th style="font-weight: bold;">Imagen</th>
                        <th style="font-weight: bold;">Nombre</th>
                        <th style="font-weight: bold;">Cantidad</th>
                        <th style="font-weight: bold;">Precio</th>
                        <th style="font-weight: bold;">Monto</th>
                        <th style="font-weight: bold;">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of compraService.items;let i = index">
                        <td style="font-weight: bold;">{{i+1}}</td>
                        <td><img style="border-radius: 0px;height: 50px;width: 50px;" src="{{prod.imagen}}" alt=""></td>
                        <td>{{prod.nombre_prod}}</td>
                        <td><input type="number" step="any" [(ngModel)]="cajas[i]" maxlength="3" class="form-control" (keypress)="soloNumeros($event)" (keyup)="aumentar(prod.prod_id,i)"  value="{{prod.cant_ord_det}}" /></td>
                        <td><input type="number" step="any" (keyup)="aumentarPrecio(prod)"  maxlength="9" [(ngModel)]="prod.unit_price_ord_det" class="form-control" value="{{prod.unit_price_ord_det}}"></td>
                        <td>{{(prod.unit_price_ord_det * prod.cant_ord_det) | number:'0.1-5' }}</td>
                        <td><a (click)="eliminar(prod.prod_id,prod.imagen,prod.nombre_prod)" class="btn-floating btn-danger btn-sm"><i class="fas fa-times" style="color: #ccc;"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right">
                <p style="display: inline-block;">TOTAL :</p> 
                <input type="text" disabled style="color: black;display: inline-block;" class="form-control" value="{{total | number:'0.1-5'}}">
            </div>
        </div> 
    </div>
</div>


