<div class="row h-100 justify-content-center align-items-center" *ngIf="!estado">
    <div class="fa-4x" >
        <i class="fas fa-spinner fa-spin"></i>    
    </div>
</div>
<div class="col-lg-12 mx-auto" *ngIf="estado">
    <div class="card">
        <div class="card-header">
            <h4 style="color: #EA320B;">Nuevo Producto</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="nuevoProd" (ngSubmit)="agregar()" class='row'>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" [class.is-invalid]="nombreNoValido" class="form-control" placeholder="Nombre Producto" formControlName='nom_prod' >
                        <small *ngIf="nombreNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control" [class.is-invalid]="descripcionNoValido" placeholder="Descripcion Producto" formControlName='descrip_prod'>
                        <small *ngIf="descripcionNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <input type="number" [class.is-invalid]="precioNoValido" step="any" class="form-control" placeholder="Precio Producto" formControlName='precio_unit_prod'>
                        <small *ngIf="precioNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <input class="form-control" [class.is-invalid]="notaProdNoValido" placeholder="Nota Producto" formControlName='nota_prod'>
                        <small *ngIf="notaProdNoValido" class="text-danger">
                            Campo invalido
                          </small>
                    </div>
                    <div class="form-group">
                        <select class='custom-select' [class.is-invalid]="categoriaNoValido" formControlName='id_cat'>                        
                            <option *ngFor='let c of listaCategorias' value="{{c.id_cat}}">{{c.nom_cat}}</option>
                        </select>
                        <small *ngIf="categoriaNoValido" class="text-danger">
                            Campo invalido
                        </small>
                    </div>               
    
                    <input type="file" class="d-none" (change)="onPhotoSelected1($event)" #photoInput1 >
                    <img style='height: 300px;width: 300px;cursor: pointer;' [src]="photoSelected1 || 'assets/no-image.png'" class="img-fluid mt-2" alt="No image"
                        (click)="photoInput1.click()">
                </div>  
                <div class="col-lg-4">
                    <input type="file" class="d-none" (change)="onPhotoSelected2($event)" #photoInput2 >
                    <img style='height: 300px;width: 300px;cursor: pointer;' [src]="photoSelected2 || 'assets/no-image.png'" class="img-fluid" alt="No image"
                        (click)="photoInput2.click()">

                    <input type="file" class="d-none" (change)="onPhotoSelected3($event)" #photoInput3 >
                    <img style='height: 300px;width: 300px;cursor: pointer;' [src]="photoSelected3 || 'assets/no-image.png'" class="img-fluid" alt="No image"
                        (click)="photoInput3.click()">
                </div>  
                <div class="col-lg-4">
                    <input type="file" class="d-none" (change)="onPhotoSelected4($event)" #photoInput4 >
                    <img style='height: 300px;width: 300px;cursor: pointer;' [src]="photoSelected4 || 'assets/no-image.png'" class="img-fluid" alt="No image"
                        (click)="photoInput4.click()">

                    <input type="file" class="d-none" (change)="onPhotoSelected5($event)" #photoInput5 >
                    <img style='height: 300px;width: 300px;cursor: pointer;' [src]="photoSelected5 || 'assets/no-image.png'" class="img-fluid" alt="No image"
                        (click)="photoInput5.click()">
                </div>                           

                <button class="btn boton-rojo btn-block ml-1 mr-1">
                    Aceptar
                </button>
            </form>
        </div>
    </div>
</div>