<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a routerLink='/empleado' class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/user-rojo.png" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->              
        </div>
        <div class="nav-profile-text" >
          <span class="font-weight-bold mb-2">{{empleadoService.empleadolog.nom_emp}}</span>
          <span class="text-secondary text-small">{{empleadoService.empleadolog.nombre_rol}}</span>
        </div>
        <i class="mdi mdi-bookmark-check nav-profile-badge" style="color:#EA320B;"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': empleado.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:empleado)');" routerLinkActive #empleado="routerLinkActive">
        <span class="menu-title">Empleado</span>
        <i class="mdi mdi-account menu-icon" style="color:#EA320B;"></i>
      </a>
    </li> 
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:producto)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Producto</span>
        <i class=" fas fa-dolly menu-icon" style="color:#EA320B;"></i>
      </a>
    </li>   
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:categoria)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Categoria</span>
        <i class="fas fa-boxes menu-icon" style="color:#EA320B;"></i>
      </a>
    </li>  
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:proveedor)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Proveedor</span>
        <i class=" fas fa-dolly-flatbed menu-icon" style="color:#EA320B;"></i>        
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:cliente)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Clientes</span>
        <i class="fas fa-users menu-icon" style="color:#EA320B;"></i>                
      </a>
    </li>  
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:categoria)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Ventas</span>
        <i class="fas fa-cash-register menu-icon" style="color:#EA320B;"></i>        
      </a>
    </li>       
    <li class="nav-item" [ngClass]="{ 'active' : blankPage.isActive || login.isActive}">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"  [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">
        <span class="menu-title">Compras</span>
        <i class="menu-arrow" style="color:#EA320B;"></i>
        <i class="fas fa-shopping-cart menu-icon" style="color:#EA320B;"></i>        
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:listaCompras)');" routerLinkActive="active" #login="routerLinkActive"> Lista Compras </a></li>          
          <li class="nav-item"> <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:compras)');"  routerLinkActive="active" #blankPage="routerLinkActive"> Seleccionar Productos </a></li>
          <li class="nav-item"> <a class="nav-link"  routerLinkActive="active" #login="routerLinkActive" (click)="irCompras()"> Registrar Compra </a></li>
          <li class="nav-item"> <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:listaInvoice)');" routerLinkActive="active" #login="routerLinkActive"> Lista Invoice </a></li>          
          <li class="nav-item"> <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:addInvoice)');" routerLinkActive="active" #login="routerLinkActive"> Registrar Invoice </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': producto.isActive }">
      <a class="nav-link" (click)="this.router.navigateByUrl('/menu/(opt:backupRestore)');" routerLinkActive #producto="routerLinkActive">
        <span class="menu-title">Backup y Restore</span>
        <i class="fas fa-database menu-icon" style="color:#EA320B;"></i>        
      </a>
    </li> 
  </ul>
</nav>
